
*{
    padding: 0;
}
body{
    background-color: #F5F5F5;
}


form{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}




.buttonsub{
    border-radius: 0px 10px 10px 0px;
}

.input1{
    width: 43rem;
}
.answer{
    margin-top: 5%;
    width: 50%;
    font-size:100%;
    border-radius: 10px;
    padding: 2%;
}