

.home{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1E1E1E;
    font-family: Inter;
    font-weight: 700;
    left:3%;
}


.hello{
    position: relative;
    top:10%;
    margin-bottom: 5%;
}

.rectmot{
    margin-top: 5%;
    width: 760px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mottext{
    position: fixed;
    left: 10%;
}

.start{
  position: relative;
  left: 14rem;
  width: 150px;
}

.calendar{
    border-radius: 10px;
    margin-left: 16%;
}

.wrapper{
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}
.typing-demo{
  width: 14ch;
  animation: typing 2s steps(22), blink .4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }