.workingspaceauth {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    color: black;
  }
  
  .authiconsection {
      margin-top: 5%;
    }
  .authheadingsection {
    background-color: white;
    width: 30rem;
    margin-top: 5%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-width: 2px;
    border-radius: 1rem;
  }
  .togglebuttonsingin {
    width: 15rem;
  }
  .togglebuttonsingup {
    width: 15rem;
  }
  .authinputs {
    width: 30rem;
  }
  .passwordinputs {
    width: 27.5rem;
  }
  .show-password-btn {
    width: 2rem;
  }
  
  @media (max-width: 767px) {
    .workingspaceauth {
      height: 100%;
      width: 100%;
    }
    .authiconsection {
      margin-top: 10%;
    }
    .authheadingsection {
      background-color: white;
      width: 20rem;
      margin-top: 5%;
      height: 15rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      border-width: 2px;
      border-radius: 1rem;
    }
    .togglebuttonsingin {
      width: 10rem;
    }
    .togglebuttonsingup {
      width: 10rem;
    }
    .authinputs {
      width: 20rem;
    }
    .passwordinputs {
      width: 17.5rem;
    }
    .show-password-btn {
      width: 2rem;
    }
  }
  
  @media (max-width: 500px) {
    .workingspaceauth {
      height: 100%;
      width: 100%;
    }
    .authiconsection {
      margin-top: 20%;
    }
    .authheadingsection {
      background-color: white;
      width: 15rem;
      margin-top: 5%;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      border-width: 2px;
      border-radius: 1rem;
    }
    .togglebuttonsingin {
      width: 7.5rem;
    }
    .togglebuttonsingup {
      width: 7.5rem;
    }
    .authinputs {
      width: 15rem;
    }
    .passwordinputs {
      width: 12.5rem;
    }
    .show-password-btn {
      width: 2rem;
    }
  }
  