.contact {
  width: 90%;
}
.backgroundlanding {
  height: 1500px;
  width: 100%;
  background-color: #f5f5f5;
}
.mainsection {
  position: absolute;
  top: 3rem;
}

.mainsection3 {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1100px;
}
.mainsectionh {
  font-size: 40px;
  width: 500px;
}
.headingicon {
  font-size: 30px;
}

.secondarytext {
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .sectionslanding {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin-top: 20px;
  }

  .sectionicon {
    width: 140px;
    display: flex;
    justify-content: center;
  }

  .landingheading2 {
    width: 90%;
    font-size: 50px;
    position: absolute;
    top: 660px;
  }

  .sectionicon1 {
    width: 160px;
    display: flex;
    justify-content: center;
  }

  .section {
    width: 180px;
  }

  .sectionh {
    font-size: 40px;
  }

  .mainsection {
    position: absolute;
    top: 130px;
  }

  .landingrect2 {
    position: absolute;
    top: 700px;
    height: 350px;
    width: 90%;
    background-color: white;
  }

  .mainsectionheading {
    width: auto;
    font-size: 60px;
    margin-bottom: 10px;
  }

  .secondarytext {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .firstimg {
    width: 300px;
  }
  .firstimg1 {
    position: relative;
    width: 690px;
    padding: auto;
  }
}

@media (max-width: 900px) {
  .firstimg {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .firstimg {
    width: 380px;
  }
}
@media (max-width: 580px) {
  .startbtn {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .mainsectionheading {
    position: relative;
    width: 90%;
    font-size: 20px;
    top: 20px;
  }
  .secondarytext {
    top: 30px;
    position: relative;
  }
  .firstimg {
    height: 0;
    width: 0;
  }
}

@media (min-width: 1024px) {
  .sectionslanding {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin-top: 20px;
  }

  .sectionicon {
    width: 140px;
    display: flex;
    justify-content: center;
  }

  .landingheading2 {
    width: 90%;
    font-size: 40px;
    position: absolute;
    top: 660px;
  }

  .sectionicon1 {
    width: 160px;
    display: flex;
    justify-content: center;
  }

  .section {
    width: 180px;
  }

  .sectionh {
    font-size: 40px;
  }

  .mainsection {
    position: absolute;
    top: 130px;
  }

  .landingrect2 {
    position: absolute;
    top: 700px;
    height: 350px;
    width: 90%;
    background-color: white;
  }

  .mainsectionheading {
    width: auto;
    font-size: 60px;
    margin-bottom: 10px;
  }

  .secondarytext {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .firstimg {
    width: 300px;
  }
  .firstimg1 {
    position: relative;
    width: 690px;
    padding: auto;
  }
}

.mainsection {
  width: 90%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .mainsectionheading {
    width: auto;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .backgroundlanding {
    height: 1300px;
    width: 100%;
    background-color: #f5f5f5;
  }
  .buttonjoin {
    width: 100px;
    height: 100px;
  }
  .firstimg1 {
    width: 300px;
  }
  .mainsection3 {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    top: 1200px;
  }
  .mainsectionh {
    font-size: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .sectionslanding {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin-top: 20px;
  }

  .landingheading2 {
    position: absolute;
    top: 600px;
    font-size: 25px;
  }
  .landingrect2 {
    position: absolute;
    top: 650px;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .sectionslanding {
    display: flex;
    flex-direction: column;
  }
  .section {
    height: 200px;
    width: 100%;
    margin-top: 2%;
    padding: 1%;
  }
  .sectionicon {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sectionh {
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sectionp {
    font-size: 12px;
    width: 100%;

    display: flex;
    justify-content: center;
  }
  .firstimg {
    display: block;
  }
  .sectionicon1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.footersection {
  width: 100%;
  position: relative;
  top: 1110px;
}
